
#quiz, #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Дві колонки однакової ширини */
    gap: 10px; /* Проміжок між елементами */
}

nav {
    margin-bottom: 20px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #800080;
    text-align: center;
    padding: 10px;
}

#menu li{
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
  }

.question {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.answer {
    width: 30px;
}

.answer::-webkit-outer-spin-button,
.answer::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.feedback {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.feedback i {
    opacity: 0;
    transition: opacity 0.5s ease-in; /* Smooth fade-in effect */
}

.feedback i.visible {
    opacity: 1;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

#result {
    font-size: 18px;
    font-style: italic;
    font-weight: 800;
    color: green;
    align-self: end;
}

button {
    margin-right: 20px;
    height: 40px;
    cursor: pointer;
}

img {
    width: 160px;
}

#image2 {
    display: none;
}